<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MOVIE-LIBRARY</title>
    <style>body{
             display: flex;
             flex-direction:column;
             margin:2px;
             }
             .menu
             {
                display: flex;
                height: 30px;
               justify-content: space-around;
               background-color: red;
             }
             .menu a{
                 font-size: 15px;
                 font-weight: bolder;
                 color:white;
             }
             body{
                color: red;
             }
    </style>
</head>
<body>
    <center><h1>MOVIE LIBRARY USER DATABASE ADMIN PANEL</h1></center>
       <div class="menu">

           <a href="/add">ADD USER</a>
           <a href="/search">SEARCH USER</a>
           <a href="/update">UPDATE USER</a>
           <a href="/delete">DELETE USER</a>
           <a href="/view">VIEW USER</a>
       </div>
</body>
</html>